* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    padding: 1em 15em;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.secondary, a {
    text-decoration: none;
    color: #EBE7EB;
    font-size: 18px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10em 0;
    gap: 2em;
}

.home .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home .right {
    flex-shrink: 0;
    width: 50%;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    width: 120px;
    padding: 6px 1em;
    color: #EBE7EB;
    font-size: 18px;
    border: none;
}

.image {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 3em;
}

main h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    gap: 1em;
}

.card p {
    color: #808080;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10em 16em;
    background-color: #EBE7EB;
}

.quote p {
    align-self: end;
    font-size: 20px;
    font-weight: 700;
}

.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}